<header class="bg-slate-900 text-white py-20 px-6 text-center">

@if (!messageFromJava) {
    <div class="text-blue-400 animate-pulse text-2xl font-bold mb-4">
        Connecting to Secure Consultancy Server...
    </div>
} @else {
    <h1 class="text-4xl md:text-6xl font-bold mb-4">
        {{ messageFromJava }}
    </h1>
}

<h2 class="text-3xl md:text-5xl font-bold mb-4">
Enterprise Architecture & Cloud Transformation
</h2>

<p class="text-xl text-slate-400 max-w-2xl mx-auto">
Available for projects in Jordan, Saudi Arabia, and the GCC.
</p>

<p class="text-xl text-slate-400 max-w-2xl mx-auto">
Cell.: +962-79-778-2049
</p>

<p class="text-xl text-slate-400 max-w-2xl mx-auto">
Email: madi.java.consultancy@gmail.com
</p>

</header>
